[submodule "dotbot"]
	path = gitmodules/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "spaceship-prompt"]
	path = gitmodules/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt
[submodule "zsh-completions"]
	path = gitmodules/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "dotbot-brew"]
	path = gitmodules/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "gitmodules/alacritty-theme"]
	path = gitmodules/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
