themes {
    kanagawa-dragon {
        fg "#c5c9c5"
        bg "#181616"
        black "#0d0c0c"
        red "#c4746e"
        green "#8a9a7b"
        yellow "#c4b28a"
        blue "#8ba4b0"
        magenta "#a292a3"
        cyan "#8ea4a2"
        white "#c8c093"
        orange "#b98d7b"
    }
}

